
.navbar-brand span {
    text-align: right;
}

@media (max-width: 991.98px) {
    body .ftco-navbar-light .navbar-nav {
        padding-left: 12px;
        padding-bottom: 0;
    }
    body .ftco-navbar-light .navbar-nav li:first-child {
        padding-top: 10px;
    }
}
